.idea/
__pycache__/
build
dist
Flask_FastRPC.egg-info
.mypy_cache/
.pybuild/
debian/debhelper-build-stamp
debian/files
*.log
*.debhelper
*.substvars
debian/python-module-stampdir
debian/python3-flask-fastrpc